*{
    margin:0;
    padding:0;
}

.navbar {
    background-color: rgb(255, 255, 255) !important;
  }
.container-fluid{
    display: flex;
    justify-content: space-around;
}
nav a {
    color:rgb(0, 0, 0) !important;
    font-size: 1.4rem;
    font-weight: bolder;
}
a{
    text-decoration: none;
}

nav a:hover{
    color:rgb(168, 76, 14) !important;
}
.NavBar__logo{
    width: 6vh;
    height: fit-content;
}
.cart {
    width: 38px;
    margin-right: 10px;
    margin-left: 10px;
}

.CartWidget{
    width: 20% !important;
}