.footer__container {
    background-color: #ffffff;
    height: 85px;
    width: 100%;
    padding: 2rem 3%;
    text-align: center;
    z-index: 40;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}
.logo__footer{
    width: 6vh !important;
}
.footer__social {
    display: flex;
    flex-direction: row;
    padding: 0 2%;
    margin: 0 2%;
}

.footer__item {
    text-decoration: none;
    font-weight: bolder !important;
    font-size: 1.6rem !important;
    color: rgb(0, 0, 0);
    margin: 0 5rem;
}
.footer__item:hover{
    color:rgb(168, 76, 14) !important;
}
.icon__social {
    margin: 0 0.8rem;
    width: 60px;
    height: auto;
    color: black !important;
}

.logo__footer {
    margin-left: 3rem;
}